* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter Tight", sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
#image {
    min-height: 600vh; /* Große Höhe für Scrolling-Effekt */
    background-color: rgb(0,0,77); /* Hintergrundfarbe */
}
#image img {
    filter: brightness(80%);
    position: sticky; /* Sticky-Positionierung */
    top: 0; /* Haftet am oberen Rand */
    width: 100%;
    object-fit: cover;
    height: 100vh; /* Höhe des Viewports */
}

h1 {
    padding: 30px;
}

.service-section {
    background-color: grey;
    height: 100vh; /* Höhe des Viewports */
    width: 100vw;
}

.text-container {
    margin-top: -50vh; /* Versatz nach oben für Überlagerung */
}

h2 {
    opacity: 0;  
    transition: opacity 0.8s;
}

h2.visible {
    opacity: 1;
}

h2 {
    margin: 40vh 0;
    color: white;
    text-align: left;
    font-size: clamp(3rem,4rem,5rem);
    font-weight: 900;
    padding: 0 10%;
    position: relative;
}

footer {
    height: 90vh;
    width: 100vw;
    background-color: rebeccapurple;
}
