body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
    background-color: hsla(0, 0%, 8%, 0.078)!important;
}

section {
    height: 100vh;
    /* padding: 0 clamp(4rem, 18vw, 20rem); */
    padding-left: 2vmax;
    padding-right: 2vmax;
    display: grid;
    place-content: center;
    font-weight: 800;

    p {
        font-size: clamp(2.5rem, 5vw, 4rem);
    }

    &:nth-of-type(1) {
        border-bottom: 1px solid black;
    }

    &:nth-of-type(3) {
        background: #ffff00;
    }

    &:nth-of-type(4) {
        background: rgb(29, 29, 29);
        color: white;
    }
}
