html {
    font-family: "Inter Tight", sans-serif;
}

body {
    background-color: #f0f0f0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    #form-section {
        padding: 20vh 5vw 0;
    }

    .text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 32px;
    }

    .contact-heading {
        font-size: 32px;
    }

    .break-m {
        display: none;
    }

    .break-l {
        display: block;
    }

    .contact-media-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 6vh;
    }

    .contact-medium {
        font-size: 24px;
    }

    .form-button-container {
        width: 200px;
    }

    label {
        font-size: 14px;
    }

    #remaining-information-section {
        flex-direction: column;
    }



    .list-item > a,
    .list-item {
        font-size: 22px;
    }

}

@media (min-width: 768px) {
    #form-section {
        padding: 24vh 60px 0;
        height: auto;
    }

    .text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .media-wrapper {
        display: flex;
        flex-direction: row;
        gap: 55px;
    }

    .contact-heading {
        font-size: clamp(4vw, 5vw, 6vw);
    }

    .contact-media-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        font-size: 28px;
        flex-basis: 40%; /* Sie können den Wert nach Bedarf anpassen */
    }

    form {
        padding-top: 2vh;
        flex-basis: 60%;
    }

    .form-button-container {
        width: 300px;
    }

    .break-m {
        display: none;
    }

    .break-l {
        display: block;
    }

    #remaining-information-section {
        flex-direction: row;
    }

    .information-wrapper {
        margin: 0 auto;
    }

    .list-item > a,
    .list-item {
        font-size: 20px;
    }

}

@media (max-width: 576px) {
    .break-m {
        display: block;
    }

    .break-l {
        display: none;
    }
}

@media (min-width: 992px) {
    #form-section {
        padding: 20vh 120px 0;
        height: auto;
    }

    .list-item > a,
    .list-item {
        font-size: 24px;
    }
}

.contact-heading {
    font-weight: 800;
}
.highlight-dark {
    color: rgb(0, 0, 77);
}

.highlight-light {
    color: rgb(129, 164, 205);
}

.contact-medium {
    text-decoration: underline !important;
    color: black;
    font-weight: 700;
}
.text-input,
textarea,
select {
    font-weight: 500;
    color: rgb(129, 164, 205,0.8);
    background-color: #f0f0f0;
    border: none; /* Entfernt alle Randlinien */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Setzt nur die untere Randlinie */
    font-family: "Inter Tight", sans-serif;
    font-size: 14px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.text-input:focus,
textarea:focus,
select:focus {
    border-bottom: 1px solid black; /* Setzt nur die untere Randlinie auf Schwarz */
    outline: none; /* Entfernt die Standard-Fokus-Ränder */
}

.text-input,
textarea,
select {
    appearance: none;
    outline: none; /* Entfernt die Standard-Fokus-Ränder */
}

/* Safari-spezifische Stile */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input,
    textarea,
    select {
        appearance: none; /* Entfernt standardmäßige Browserstile in Safari */
        border-radius: 0; /* Entfernt abgerundete Ecken in Safari */
    }

    select {
        padding-right: 24px; /* Platz für Dropdown-Pfeil in Safari */
        background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="%23000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><path d="M6 9l6 6 6-6"></path></svg>')
            no-repeat right 10px center; /* Eigener Dropdown-Pfeil */
        background-size: 12px; /* Größe des Dropdown-Pfeils */
    }
}

.name-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5vw;
}

.name-content-container > .form-content-container {
    flex-grow: 1;
}

label {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}

.form-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 44px;
}

.form-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 77);
    border-radius: 15px;
    color: white;
    margin-bottom: 1rem;
}

.form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    border: none;
    background: none;
    cursor: pointer;
    padding: 1rem;
    color: white;
    font-weight: bold;
}

.form-button-icon {
    margin-right: 0.5rem;
    width: 24px;
    height: 24px;
    fill: white !important;
}
.button-icon {
    padding: 0 8px;
    display: flex;
    height: clamp(1rem, 4vh, 1.5rem);
}

.button-icon path {
    fill: #f0f0f0;
}

#form-button-icon-path {
    fill: white !important;
}

.input-container-privacy {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#privacy {
    margin-right: 0.5rem;
    margin-top: 0;
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
}

#privacy:checked {
    background-color: rgb(0, 0, 77);
    border: 1px solid rgb(0, 0, 77);
}

#privacy:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.3em;
    height: 0.6em;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.approval-text {
    color: black;
    font-size: 0.825rem;
    margin-top: 0;
}

.approval-text a {
    color: rgb(0, 0, 77);
}

#remaining-information-section {
    height: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 60px 5vw;
    margin-top: 100px;
    display: flex;
    gap: 80px;
}

.information-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.list-item > a,
.list-item {
    font-weight: 700;
    text-decoration: underline !important;
    color: black;
}

.information-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.information-item {
    text-decoration: none !important;
}
.alert-center-container {
    position: fixed;
    z-index: 2000;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  .alert {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  .alert .close {
    background: none;
    border: none;
    color: inherit;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
    padding: 0;
    margin-left: 1rem;
  }
  .alert .close span {
    display: inline-block;
  }
