*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.impressum-wrapper {
    padding-top: 80px;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.impressum-wrapper > div {
    padding-top: 10vh;
    padding-left: 60px;
    padding-bottom: 5vh;
}

#impressum-child-1 {
    display: flex;
    flex-direction: column;
    gap: 8vh;
    background-color: rgb(242, 242, 242);
    flex: 3;
}

#impressum-child-2 {
    flex: 4;
    padding-right: 60px;
}

.impressum-text-container {
}

h2.impressum-heading {
    letter-spacing: 4px;
    font-size: clamp(0.8rem, 1.8vw, 1rem);
    color: rgb(129, 164, 205);
    padding-bottom: 30px;
}

.impressum-text-heading,
.impressum-text {
    letter-spacing: 1px;
    color: rgb(132, 132, 132);
    font-size: clamp(0.3rem, 2.5vw, 1rem);
}

.impressum-text-heading {
    font-weight: 500;
}
.impressum-text {
    font-weight: 200;
}

.disc-text {
    font-size: clamp(0.3rem, 3vw, 1rem);
    font-weight: 300;
    line-height: 25px;
}

.datenschutz-heading {
    font-size: clamp(0.5rem, 1.4vw, 0.7rem) !important;
}

.datenschutz-child-1 {
    flex: 1 !important;
}

.datenschutz-child-2 {
    flex: 4 !important;
}
@media (max-width: 768px) {
    .impressum-wrapper {
        flex-direction: column;
    }

    .impressum-wrapper > div {
        padding-left: 30px;
    }

    .datenschutz-child-1 {
    }
}

.impressum-link {
    text-decoration: none;
    color: ;
}
