* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height: auto !important;
}

#main-header {
    background: transparent;
    box-shadow: none;
}

video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(60%);
}

#landing-page {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

@keyframes fadeInLeftToRight {
    from {
        clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes fadeOutRightToLeft {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%);
    }
}

#typewriter {
    will-change: transform;
    color: white;
    z-index: 250;
    position: absolute;
    left: 50%;
    font-size: clamp(1rem, 2vw, 2rem);
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    opacity: 1;
    animation-timing-function: ease-in-out;
}

#typewriter::after {
    content: "|";
    font-weight: bold;
    color: white;
    margin-left: 0.2em;
    opacity: 1;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.explained-section {
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 10vh;
    gap: 30vh;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    font-weight: 800;
}

.section-heading {
    width: 100px;
    font-size: 12px;
    color: rgb(129, 164, 205);
    letter-spacing:4px;
}

.service-section-heading {
    padding-right: 10px;
    margin-left: 5%;
}

.explained-content {
    width: 100%;
    padding-left: clamp(1vmax, 1.5vmax, 6vw);
    padding-right: clamp(1vw, 3vw, 4vw);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30vh;
}

.about-us-text-container {
    will-change: transform;
    transform: translateZ(0);
    padding-top: 12%;
    font-size: clamp(2.3rem, 4.3vmax, 6vw);
    font-weight: 800;
    word-break: keep-all;
    width: 100vw;
}

@media (max-width: 400px) {
    .explained-content {
        padding-top: 10vh;
        gap: 20vh;
    }
    .fact-container {
        margin-bottom: 10vh;
    }
    .break-s {
        display: inline;
    }
}

@media (min-width: 400px) {
    .explained-content {
        padding-top: 5vh;
        gap: 20vh;
    }
    .fact-container {
        margin-bottom: 5vh;
    }

    .break-s {
        display: inline;
    }
}

@media (min-width: 576px) {
    .break-s {
        display: none;
    }
    .break-m {
        display: inline;
    }
}

@media (min-width: 768px) {
    .break-m,
    .break-s {
        display: none;
    }
    .break-l {
        display: inline;
    }
}

@media (min-width: 1028px) {
    .fact-container {
        margin-bottom: 2vh;
    }

    .break-l,
    .break-m,
    .break-s {
        display: none;
    }
    .break-xl {
        display: inline;
    }
}

.fact-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: flex-start;
}

.facts {
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    display: flex;
    flex-direction: row;
}

.key-figure-container {
    position: absolute;
    bottom: 100%;
}

.key-figure {
    font-size: clamp(3.5vmax, 6vmax, 3.5rem);
    font-weight: 900;
    width: 100%;
}

.key-figure {
    color: rgb(0, 0, 77);
}
.key-number {
    will-change: transform;
}

.label {
    font-weight: bold;
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.key-figure-container,
.label {
    min-width: 50%;
    min-height: 50%;
}

.keyword,
.label {
    color: rgb(129, 164, 205);
}

@media screen and (max-width: 768px) {
    .facts {
        display: flex;
        justify-content: space-evenly;
    }
}
#service-area,
.explained-section,
#contact-section,
.pin-spacer,
body {
    background-color: #f0f0f0;
}

.racesWrapper {
    overflow: hidden;
}

.races {
    will-change: transform;
    transform: translateZ(0);
    transform: translate3d(0, 0, 0);
    margin-left: 5vmax;
    padding-right: 10vmax;
    padding-top: 10vh;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    gap: 4vw;
}
.service-container {
    transform: translateZ(0);
    transform: translate3d(0, 0, 0);
    will-change: transform;
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 65vh;
    width: auto;
    display: flex;
    position: relative;
}

.service-image {
    transform: translateZ(0);
    transform: translate3d(0, 0, 0);
    will-change: transform;
    border-radius: 22px;
    height: 100%;
    width: 100%;
    object-fit: fill;
    filter: brightness(80%);
    transition: opacity 0.5s;
}

.service-text-container {
    transform: translateZ(0);
    transform: translate3d(0, 0, 0);
    will-change: transform;
    gap: 1.5vh;
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: clamp(2.5rem, 9vw, 6rem);
    padding-left: clamp(1rem, 3vw, 2rem);
}

.service-description-container {
    transform: translateZ(0);
    transform: translate3d(0, 0, 0);
    will-change: transform;
    text-wrap: wrap;
    font-size: clamp(1rem, 1.3vw, 2rem);
    letter-spacing: 0.06rem;
    font-weight: 500;
    text-wrap: wrap;
    width: -moz-fit-content;
    width: fit-content;
}
.service-label-container {
    width: -moz-fit-content;
    width: fit-content;
}

.service-label {
    font-size: clamp(20px,5vw,40px);
    font-weight: 600;
}

.button-container {
    will-change: transform;
    transform: translateZ(0);
    top: clamp(75%, 78%, 80%);
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.button-container:hover {
    cursor: pointer;
}

.service-button {
    transform: translateZ(0);
    transform: translate3d(0, 0, 0);
    will-change: transform;
    font-size: clamp(0.8rem, 1vw, 1rem);
    color: white;
    text-decoration: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}
.button-icon {
    padding-left: 8px;
    display: flex;
    height: clamp(1rem, 4vh, 1.5rem);
}

.button-icon path {
    fill: #f0f0f0;
}

@media (min-width: 370px) {
    .service-container,
    .image-container {
        width: 85vw;
        height: clamp(50vw, 65vw, 75vw);
    }

    .service-text-container {
        gap: 2vmin;
        padding-left: 8vw;
        padding-bottom: 15vh;
    }
}

@media (min-width: 576px) {
    .service-text-container {
        gap: 2vh;
        padding-left: 6vw;
        padding-bottom: 15vh;
    }
}
@media (min-width: 767px) {
    .service-container,
    .image-container {
        width: 60vw;
        height: 40vw;
    }
    .service-text-container {
        padding-left: 3vw;
    }
}

@media (min-width: 1200px) {
    .service-text-container {
        padding-left: 2vw;
    }

    .service-container,
    .image-container {
        width: 50vw;
        height: 60vh;
    }
}

.content {
    height: 70vh;
}

.contact-section-heading {
    margin-top: 40px;
    margin-left: 5%;
} 
@media (max-width: 400px) {
    #contactForm {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        width: 100%;
        container-type: inline-size;
    }

    .form-label {
        font-size: 2.2cqb;
    }

    .form-content-wrapper {
        padding: 1rem 2rem;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        max-width: 500px;
        width: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-content-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
    }

    label {
        color: black;
        margin-bottom: 0.5rem;
    }

    select,
    input,
    textarea {
        height: 3rem;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 1rem;
        color: black;
    }

    select {
        border-bottom: 5px solid #ccc;
    }

    input {
        border-bottom: 5px solid #ccc;
    }

    textarea {
        min-height: 6rem;
        max-height: 12rem;
        border-bottom: 5px solid #ccc;
        resize: vertical;
        overflow: auto;
        padding: 1rem;
        display: flex;
        align-items: center;
    }

    textarea::placeholder {
        color: #888;
        opacity: 1;
    }

    .form-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 0, 77);
        border-radius: 15px;
        color: white;
        margin-bottom: 1rem;
    }

    .form-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: none;
        background: none;
        cursor: pointer;
        padding: 1rem;
        color: white;
        font-weight: bold;
    }

    .form-button-icon {
        margin-right: 0.5rem;
        width: 24px;
        height: 24px;
        fill: white !important;
    }

    #form-button-icon-path {
        fill: white !important;
    }

    .input-container-privacy {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    #privacy {
        margin-right: 0.5rem;
        margin-top: 15px;
        width: 1em;
        height: 1em;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        cursor: pointer;
        position: relative;
    }

    #privacy:checked {
        background-color: rgb(0, 0, 77);
        border: 1px solid rgb(0, 0, 77);
    }

    #privacy:checked::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0.3em;
        height: 0.6em;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .approval-text {
        color: black;
        font-size: 0.825rem;
    }

    .approval-text a {
        color: rgb(0, 0, 77);
    }

    .salutation-container {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .salutation-container .form-content-container {
        flex: 1;
        margin-bottom: 0;
    }
}
@media (min-width: 768px) {
    #contact-section {
        width: 100vw;
        margin-top: 10vh;
        min-height: 620vh;
        border: 0.1px solid transparent;
    }

    .contact-text-container-element a {
        color: white!important;
    }

    #link-arrow {
        display: block;
        height: 16px;
        width: 16px;
    }

    #contact-reference {
        display: flex;
        gap: 2px;
    }

    #contact-image {
        transform: translate3d(0px, 0px, 0px) scale(1.00212, 1.00212);
        filter: brightness(80%);
        position: relative;
        top: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        transition: border-radius 0.3s;
    }

    .contact-text-wrapper {
        margin-top: -50vh;
    }

    .contact-text-container,
    .contact-text-container-first {
        padding: 0 10%;
        position: relative;
        margin: 40vh 0;
        opacity: 0;
        transition: opacity 0.8s;
    }

    .contact-text-container.visible,
    .contact-text-container-first.visible {
        opacity: 1;
    }

    .contact-text-container-element,
    .contact-text-container-element-first {
        color: white;
        text-align: left;
        font-size: clamp(5vmax, 15vmax, 3rem);
        font-weight: 700;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}

@media (max-width: 767px) {
    #contact-section {
        position: relative;
        z-index: 1;
        margin-bottom: 20px;
    }

    #contact-image {
        display: block;
        height: 55vh;
        width: 95vw;
        border-radius: 35px;
        margin: 8vh auto 10vh;
    }

    #contact-text-wrapper {
        padding-left: 3vw;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .contact-text-container-first {
        font-weight: 900;
        font-size: 20px;
    }
  
    .contact-text-container-element {
        font-size: 28px;
        font-weight: 750;
        color: gray;
        transition: color 0.3s ease;
    }

    .contact-text-container-element a {
        position: relative;
        display: inline-block;
        color: gray;
        transition: color 0.3s ease;
    }

    .contact-text-container-element a::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #000;
        transition: width 0.5s ease;
    }

    #link-arrow {
        display: none;
    }
    .contact-text-container.active .contact-text-container-element a {
        color: rgb(0, 0, 77);
    }
    
    .contact-text-container.active .contact-text-container-element a::after {
        width: 100%;
    }
    
    .contact-text-container.inactive .contact-text-container-element a {
        color: gray;
    }
    
    .contact-text-container.inactive .contact-text-container-element a::after {
        width: 0;
    }

    .highlight-dark {
        color: rgb(0, 0, 77);
    }

    .highlight-light {
        color: rgb(129, 164, 205);
    }

    .active .highlight-dark {
        color: rgb(0, 0, 77);
    }

    .active .highlight-light {
        color: rgb(129, 164, 205);
    }

    .inactive .highlight-dark {
        color: gray;
    }

    .inactive .highlight-light {
        color: gray;
    }

  
}

@media (max-width: 576px) {
    #contact-image {
        height: 45vh;
    }
}

@media (max-width: 400px) {
    #contact-image {
        height: 35vh;
    }
}