* {
  overflow-x: hidden;
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;

}
.tickerwrapper { /* the outer div */
  height: 100vh;
  width: 100vw;
  background-color: rgb(230,230,230);
overflow: hidden; 
position: fixed;
}
.list {
  padding:8vh 0 0 0 ;
  display: flex;
  align-items: center; /* Align items vertically */
  white-space: nowrap; /* Prevent wrapping inside the ticker */
  list-style: none;
}

.list.cloned {
position:absolute;
top:0;
left:0;
}
.list-item {
  color: white;
float: left;
padding-left:40px;
  font-size:clamp(5vw,10vw,15vw);  
font-weight: 900;
}

.service-section {
  display: block;
  white-space: nowrap; /* Verhindert Umbruch in neue Zeilen */
  width: calc(100% + 5vw); /* Passen Sie diesen Wert entsprechend an */
}

.races {
  margin-left: 5vmax;
  padding-top: 5vh;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 4vw;
}
.service-container {
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 65vh;
  width: auto;
  display: flex;
  position: relative;
}

.service-image {
  border-radius: 22px;
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.service-text-container {
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: clamp(2.5rem, 9vw, 6rem);
  padding-left: clamp(1rem, 3vw, 2rem);
}

.service-description-container {
  text-wrap: wrap;
  font-size: 2vh;
  font-size: clamp(0.6rem, 1.2vw, 2rem);
  text-wrap: nowrap;
  width: 45%;
}
.service-label-container {
  font-size: 5vh;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: 800;
}

.service-information-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 2vw;
  padding-right: 2vw;
  top: 50%;
  width: 100%;
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 1.5;
}

.service-information-container {
  display: none;
  transition: opacity 0.5s;
}

/* .service-container:hover .service-information-container {
  display: block;
  opacity: 1;
} */

.service-container:hover .service-label,
.service-container:hover .service-description {
  cursor: pointer;
  display: none;
}

.service-container:hover .service-image {
  filter: brightness(50%);
}

.service-image {
  transition: opacity 0.5s;
}

@media (min-width: 370px) {
  .races {
      padding-right: clamp(20vmax, 40vmax, 50vmax);
  }
  .service-container,
  .image-container {
      width: 85vw;
      height: clamp(50vw, 65vw, 75vw);
  }
}

@media (min-width: 576px) {
  .races {
      padding-right: clamp(10vmax, 25vmax, 35vmax);
  }
}
@media (min-width: 767px) {
  .races {
      padding-right: clamp(15vmax, 28vmax, 40vmax);
  }
  .service-container,
  .image-container {
      width: 60vw;
      height: 40vw;
  }
}

@media (min-width: 1200px) {
  .races {
      padding-right: 5vmax;
  }
  .service-container,
  .image-container {
      width: 50vw;
      height: 60vh;
  }
}
