<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <script src="component.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="component.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alata&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Batak&family=Patua+One&family=Titan+One&display=swap"
      rel="stylesheet"
    />
    <title>Omega Security GmbH</title>
  </head>
<body>
    <section class="service-section">

      <div class="racesWrapper">
        <div class="races ">
        <div class="service-container">
          <div class="image-container">
            <img  class ="service-image" alt = "Alarmaufschaltung" src = "../images/alarmaufschaltung.jpg"/>
          </div>
          <div class="service-text-container">
            <div class="service-description-container">
              <p class="service-description">Lorem Ipsum Dolor Amit</p>
            </div>
          <div class="service-label-container">
            <p class="service-label">Alarmaufschaltung</p>
          </div>
          </div>
          </div>
  
          <div class="service-container">
            <div class="image-container">
              <img  class ="service-image" alt = "Veranstaltungsschutz" src = "../images/skaliert.png"/>
            </div>
            <div class="service-text-container">
              <div class="service-description-container">
                <p class="service-description">Lorem Ipsum Dolor Amit</p>
              </div>
              <div class="service-label-container">
                <p class="service-label">Veranstaltungsschutz</p>
              </div>
            </div>
          </div>
  
            <div class="service-container">
              <div class="image-container">
                <img  class ="service-image" alt = "Doorman" src = "../images/doorman.jpg"/>
              </div>
              <div class="service-text-container">
                <div class="service-description-container">
                  <p class="service-description">Lorem Ipsum Dolor Amit</p>
                </div>
              <div class="service-label-container">
                <p class="service-label">Doorman</p>
              </div>
              </div>
              </div>
  
              <div class="service-container">
                <div class="image-container">
                  <img  class ="service-image" alt = "Baustellenbewachung" src = "../images/berliner_baustelle.jpg"/>
                </div>
                <div class="service-text-container">
                  <div class="service-description-container">
                    <p class="service-description">Lorem Ipsum Dolor Amit</p>
                  </div>
                <div class="service-label-container">
                  <p class="service-label">Baustellenbewachung</p>
                </div>
                </div>
                </div>
  
                <div class="service-container">
                  <div class="image-container">
                    <img  class ="service-image" alt = "Revier- und Streifendienst" src = "../images/security car parked.jpeg"/>
                  </div>
                  <div class="service-text-container">
                    <div class="service-description-container">
                      <p class="service-description">Lorem Ipsum Dolor Amit</p>
                    </div>
                  <div class="service-label-container">
                    <p class="service-label">Revier- und Streifendienst</p>
                  </div>
                  </div>
                  </div>
  
                  <div class="service-container">
                    <div class="image-container">
                      <img  class ="service-image" alt = "Werk- und Objektschutz" src = "../images/werk-_objektschutz.jpg"/>
                    </div>
                    <div class="service-text-container">
                      <div class="service-description-container">
                        <p class="service-description">Lorem Ipsum Dolor Amit</p>
                      </div>
                    <div class="service-label-container">
                      <p class="service-label">Werk- und Objektschutz</p>
                    </div>
                    </div>
                    </div>
  
                    <div class="service-container">
                      <div class="image-container">
                        <img  class ="service-image" alt = "Empfangs- und Pfortendienst" src = "../images/pforte.jpg"/>
                      </div>
                      <div class="service-text-container">
                        <div class="service-description-container">
                          <p class="service-description">Lorem Ipsum Dolor </p>
                        </div>
                      <div class="service-label-container">
                        <p class="service-label">Empfangs- und Pfortendienst</p>
                      </div>
                      </div>
                      </div>
      </div>
      </div>
    </div>
  
      </section>
</body>
</html>