*{
    margin: 0;
    font-family: "Inter Tight", sans-serif;
}

 header::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 77, 0.5); /* Fallback color with some opacity */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(20px); /* The blur effect you want */
} 

header {
    background-color: rgb(0,0,77);
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8vh;
    align-items: center;
    padding: 8px 0px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}




.logo-container {
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    align-self: center;
    width: 3vw;
    height: 3vw;
}

.nav-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    
}

nav {
    display: flex;
    flex-direction: row;
}

.nav-link {
    margin-left: 4vw;
    color:#ffff;
    font-size: 15px;
}

.nav-link:hover {
    cursor: pointer;
}

.about-us {
    font-weight: 700;
    padding-left: 2vw;
    color: black;
    top: 25%;
    width: 90%;
    position: absolute;
    font-size:60px;
    line-height: 115%;
}


.symbol-container {
    top:50%;
    left: 50%;
    height: 30%;
    width: 30%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}

.symbol {
}


